# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.seaBattle.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\seaBattle\.idea\.idea.seaBattle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
